{{#if this}}
public type Context{{#if @key}}{{removeSpecialCharacters @key}}{{else}}Nil{{/if}}Stream record {|
    {{#if @key}}stream<{{@key}}, error?> content;{{/if}}
    map<string|string[]> headers;
|};
public type Context{{#if @key}}{{removeSpecialCharacters @key}}{{else}}Nil{{/if}} record {|
    {{#if @key}}{{@key}} content;{{/if}}
    map<string|string[]> headers;
|};
{{else}}
public type Context{{#if @key}}{{removeSpecialCharacters @key}}{{else}}Nil{{/if}} record {|
    {{#if @key}}{{@key}} content;{{/if}}
    map<string|string[]> headers;
|};{{/if}}