{{#if stubList}}import ballerina/grpc;{{/if}}
{{#each messageMap}}
{{> message}}{{/each}}
{{#enumList}}
{{> enum}}{{/enumList}}
{{#stubList}}{{#each callerMap}}
{{>caller}}{{/each}}
{{#each valueTypeMap}}
{{> content_context}}{{/each}}{{/stubList}}{{#if rootDescriptor}}
const string ROOT_DESCRIPTOR = "{{rootDescriptor}}";
isolated function getDescriptorMap() returns map<string> {
    return {
        {{#each descriptors}}"{{descriptorKey}}":"{{descriptorData}}"{{#unless @last}},{{/unless}}
        {{/each}}
    };
}{{/if}}