name: PR build

on: [pull_request]

jobs:
  ubuntu-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11
      - name: Build with Gradle
        env:
          packageUser: ${{ github.actor }}
          packagePAT: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew build --scan --no-daemon
      - name: Archive Error Log
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: Ballerina Internal Log
          path: grpc-ballerina/ballerina-internal.log
          if-no-files-found: ignore
      - name: Generate Codecov Report
        if: github.event_name == 'pull_request'
        uses: codecov/codecov-action@v1

  windows-build:
    runs-on: windows-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11
      - name: Build with Gradle
        env:
          packageUser: ${{ github.actor }}
          packagePAT: ${{ secrets.GITHUB_TOKEN }}
          JAVA_TOOL_OPTIONS: -Dfile.encoding=UTF8
        run: ./gradlew.bat build --scan --no-daemon
